@font-face {
    font-family: "Roboto";
    src: local("Roboto"), url("/src/assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "CedarvilleCursive";
    src: local("CedarvilleCursive"),
        url("/src/assets/fonts/CedarvilleCursive/Lobster-Regular.ttf") format("truetype");
}

.navbar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    padding-top: 0.5em;
}
.navbar-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.navbar {
    width: 80%;
    display: flex;
    /* background-color: red; */
    justify-content: space-between;
    align-items: center;
}
.navbar-left {
    margin-left: 3em;
}
.navbar-logo {
    display: flex;
    align-items: center;
    gap: 0.5em;
}
.navbar-logo img {
    height: 100px;
    border-radius: 50%;
}
.title-one {
    font-size: 1.6rem;
    font-family: "CedarvilleCursive";
    color: #284468;
}
.title-two {
    font-size: 1.3rem;
    font-family: "CedarvilleCursive";
    color: #284468;
}
.links {
    display: flex;
}
.navbar-link-li {
    list-style: none;
    gap: 1em;
}
.navbar-right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar-link-cont {
    display: flex;
    align-items: center;
    gap: 0;
}
.navbar-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
    font-size: 1.3rem;
    padding: 0.5em 0.5em;
    border-radius: 5px;
    transition: background-color 0.3s, text-decoration 0.3s, color 0.3s;
}
.navbar-link:hover {
    color: #ad8d46;
    text-decoration: underline;
    background-color: #f1eee9;
}
.navbar-text {
    font-size: 1.3rem;
    margin: 0 0.4em;
    color: #284468;
    /* font-weight: bold; */
}
.burger-menu {
    display: none;
    cursor: pointer;
}

.full-screen-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    z-index: 9;
    overflow: auto;
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%);
}

.full-screen-menu.active {
    transform: translateX(0);
}

.fullscreen-link-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 5em;
}
.fullscreen-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 0.5em 1em;
    border-radius: 5px;
    gap: 0.5em;
    transition: background-color 0.3s, text-decoration 0.3s, color 0.3s;
}
.fullscreen-link:hover {
    color: #ad8d46;
    text-decoration: underline;
    background-color: #f1eee9;
}
@media (max-width: 1250px) {
    .navbar {
        width: 100%;
    }
    .navbar-left {
        margin-left: 1em;
    }
    .title-one {
        font-size: 1.3rem;
    }
    .title-two {
        font-size: 1rem;
    }
    .navbar-link {
        font-size: 1rem;
    }
    .navbar-text {
        font-size: 1.2rem;
    }
}
@media (max-width: 870px) {
    .navbar-link {
        font-size: 0.9rem;
    }
    .navbar-text {
        font-size: 1rem;
    }
    .title-one {
        font-size: 1.2rem;
    }
    .title-two {
        font-size: 1rem;
    }
    .navbar-logo img {
        height: 70px;
        border-radius: 50%;
    }
}

@media screen and (max-width: 740px) {
    .navbar-right {
        display: none;
    }
    .title-one {
        font-size: 1.5rem;
    }
    .title-two {
        font-size: 1.3rem;
    }
    .burger-menu {
        display: block;
        margin-right: 1.5em;
        z-index: 100;
    }
    .burger-white {
        transition: color 0.5s;
        color: #fff;
        font-size: 1.3rem;
    }
    .burger-black {
        transition: color 0.5s;
        color: #284468;
        font-size: 1.3rem;
    }
    .full-screen-menu {
        display: absolute;
    }
    .fullscreen-link-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        margin-top: 5em;
    }
    .fullscreen-link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #fff;
        font-size: 1.5rem;
        padding: 0.5em 1em;
        border-radius: 5px;
        gap: 0.5em;
        transition: background-color 0.3s, text-decoration 0.3s, color 0.3s;
    }
    .fullscreen-link:hover {
        color: #ad8d46;
        text-decoration: underline;
        background-color: #f1eee9;
    }
}
@media (max-width: 630px) {
    .navbar-link {
        font-size: 0.6rem;
        font-weight: bold;
    }
    .title-one {
        font-size: 1.5rem;
    }
    .title-two {
        font-size: 1.3rem;
    }
    .navbar-left {
        margin-left: 0;
    }
}
@media screen and (max-width: 440px) {
    .title-one {
        font-size: 1.1rem;
    }
    .title-two {
        font-size: 0.9rem;
    }
}
